<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congé Accepté</title>
</head>
<body>
    <h1>Acceptation de congé</h1>
    <p>Nous vous informons que votre congé a été accepté !</p>    
</body>
</html>